@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Faroeste";
    src: url(Fonts/Vanilla\ Whale.otf);
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, black 5%, purple);
}

Header {
    background-color: black;
    width: 100vw;
}

header h1 {
    color: white;
    text-align: center;
    font-family: "Faroeste";
    font-size: 3rem;
    font-weight: normal;
}

header h1 span {
    font-size: 2rem;
}

main {
    width: calc(400px + 2rem);
    height: auto;
    margin: 1rem auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: auto;
    border: 1px solid white;
    border-radius: 0.5rem;
}

.btn {
    background-color: rgba(137, 15, 167, 0.784);
    width: 200px;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main button abbr {
    text-decoration: none;
}

main button a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

main button a:hover {
    text-decoration: underline;
    color: #000;
}

main button:hover {
    background-color: purple;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
    background-color: black;
}

footer p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
}

footer p a {
    color: white;
    text-decoration: none;
}

/*Responsividade*/
/*Responsividade para pequenos dispositivos (Iphone5, IphoneSE*/
@media screen and (max-width: 320px) {
    header h1 {
        font-size: 2rem;
        padding: 0.5rem;
    }

    header h1 span {
        font-size: 1rem;
    }

    main {
        width: 80vw;
        height: auto;
        margin: auto;
        flex-direction: column;
    }

    main button {
        margin: 1rem auto;
    }
}

/*Responsividade para SmartPhones Grandes*/
@media screen and (max-width: 760px) {
    header h1 {
        font-size: 2.5rem;
        padding: 0.5rem;
    }

    header h1 span {
        font-size: 1.5rem;
    }

    main {
        width: 80vw;
        height: auto;
        margin: auto;
        flex-direction: column-reverse;
    }

    main button {
        margin: 1rem auto;
        width: 100%;
    }
}

/*Midia para dispositivos modo paisagem*/
@media screen and (max-width: 930px) and (orientation: landscape) {
    header h1 {
        font-size: 2.5rem;
        padding: 0.5rem;
    }

    header h1 span {
        font-size: 1.5rem;
    }

    main {
        width: calc(40vw - 1rem);
        height: auto;
        margin: 1rem auto;
        padding: 0;
    }

    main button {
        margin: 1rem auto;
        width: 100%;
    }
}

/*Responsividade para Tablets*/
@media (min-width: 768px) and (orientation: portrait) {
    header h1 {
        font-size: 3.5rem;
        padding: 0.5rem;
    }

    header h1 span {
        font-size: 2rem;
    }

    main {
        width: 80vw;
        height: auto;
        margin: auto;
        padding: 0;
    }

    main button {
        font-size: 2rem;
        margin: 1rem auto;
    }
}