* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

@font-face {
    font-family: "Faroeste";
    src: url(/Fonts/Vanilla\ Whale.otf);
}

header {
    width: 100%;
    background-color: black;
}

header h1 {
    text-align: center;
    color: white;
    font-family: "Faroeste";
    font-weight: normal;
    font-size: 3rem;
}

header h1 span {
    color: white;
    font-family: "Faroeste";
    font-size: 2rem;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, black 5%, purple);
}

.title {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.title h1 {
    text-align: center;
    color: white;
}

main {
    padding: 10px;
    background-color: transparent;
    border: 0px solid white;
    border-radius: 5px;
    width: max-content;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 2px black;
}

.calculadora {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    padding: 10px;
    margin: auto;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.input label {
    width: 100px;
    font-weight: bold;
    color: white;
}

input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px auto;
    height: 35px;
    border-radius: 10px;
    border: none;
    text-align: left;
    font-size: 20px;
}

button {
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: black;
    border: none;
    padding: 10px;
    margin: 3px;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

button#calc:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

button#apag:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

#res {
    background-color: white;
    width: 100%;
    height: 50px;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 20px;
}

#risco {
    background-color: white;
    width: 100%;
    height: 50px;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 15px;
}

@media screen and (max-width: 330px) {
    body {
        background-color: purple;
        background-repeat: no-repeat;
    }

    header h1 {
        font-size: 1rem;
        padding: 0.5rem;
    }

    header h1 span {
        font-size: 0.5rem;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100vw;
        height: auto;
        background-color: transparent;
        padding: 0.5rem;
        box-shadow: none;
    }

    .calculadora {
        margin: auto;
        width: 300px;
        height: auto;
        background-color: transparent;
    }

    .btn {
        margin: 0;
    }

    #res,
    #risco {
        height: 50px;
        hyphens: auto;
        text-align: justify;
    }
}

/*Responsividade para SmartPhones Grandes*/
@media screen and (max-width: 760px) {
    header h1 {
        font-size: 2rem;
        padding: 0.5rem;
    }

    header h1 span {
        font-size: 1.5rem;
    }

    main {
        width: auto;
        height: auto;
        padding: 0.5rem;
        margin: auto;
        box-shadow: none;
    }

    .calculadora {
        width: auto;
    }

    main button {
        margin: 1rem auto;
        width: 100%;
    }

    .title h1 {
        font-size: 1.5rem;
    }

    #res,
    #risco {
        height: 100px;
        hyphens: auto;
        text-align: justify;
    }
}

/*Midia para dispositivos modo paisagem*/
@media screen and (max-width: 930px) and (orientation: landscape) {
    body {
        background-color: purple;
        background-image: none;
        background-repeat: repeat;
    }

    header h1 {
        font-size: 2.5rem;
        padding: 0.5rem;
    }

    header h1 span {
        font-size: 1.5rem;
    }

    main {
        width: 100%;
        margin: 0rem 0;
    }

    #res,
    #risco {
        height: 100px;
        hyphens: auto;
        text-align: justify;
        font-size: 1.5rem;
    }
}

/*Responsividade para Tablets*/
@media (min-width: 768px) and (orientation: portrait) {
    header h1 {
        font-size: 4rem;
    }

    header h1 span {
        font-size: 2.5rem;
    }


    main {
        height: ;
    }

    .input {
        margin: 0.5rem 0;
    }

    .btn {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 5px;
    }

    .btn button {
        width: 100%;
    }

    #res,
    #risco {
        height: 150px;
        hyphens: auto;
        padding: 5px;
        text-align: justify;
        font-size: 2rem;
    }
}